*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/ru/molinov/mapsmarker/ExampleInstrumentedTest.kt
/app/src/test/java/ru/molinov/mapsmarker/ExampleUnitTest.kt
/.idea
